.conversation_status_link{:class => status}
  - path = status.eql?("accept") ? edit_service_path(service,:action=>"accept") : edit_service_path(service,:action=>"reject")
  = link_to(image_tag("/images/icons/#{status}_icon.png") + t(".#{status}"), path, :remote => true, :method => :put)
