.new_listing_form_field_container
  -#= form.hidden_field(:listing_type, :value => @listing.listing_type)
  -#= form.hidden_field(:category, :value => @listing.category)
  = form.submit "Deliver", :class => "send_button"