.new_listing_form_field_container
  -#= form.hidden_field(:listing_id, :value => @listing.id)
  -#if current_user?(@listing.author_id)
  = form.hidden_field(:status, :value => "done")
  = form.submit "Deliver", :class => "send_button"