.new_listing_form_field_container
  = form.label :category, t(".categories") + "*:", :class => "input"
  = select("listing", "category", categories_array,{:selected => (@listing.category || categories_array[0])}, { :class => "visibility_select" })