.new_listing_form_field_container
  = form.label :visibility, t(".cost") + "*:", :class => "input"
  = select("listing", "price", Listing::VALID_PAYMENTS, {:selected => (@listing.price || Listing::VALID_PAYMENTS[0])}, { :class => "visibility_select" })
  = form.hidden_field :current_community_id, :value => @current_community.id
  = form.hidden_field :visibility,:value => "everybody"