%ol
  %li
    Go to your MPESA menu on your phone
  %li
    Select PAYBILL option
  %li
    Enter the following business number
    %strong 727727
  %li
    Enter the full amount (AMOUNT_HERE)
  %li
    Enter the PIN and send the money
%p You will receive a transaction Confirmation from MPESA