%h3 Payment Options
%p
  =radio_button_tag("Mobile Payment", "Mobile Payment", "mobile")
  = label_tag("for_mobile_radio_button", t('.mobile_payment_option'), :class => "radiobutton")
  =render :partial=>'mpesa_details'
  =render :partial=>'transaction_code'
%p
  =radio_button_tag("Payment By Credit/Debit Card", "Payment By Credit/Debit Card", "card")
  = label_tag("for_card_radio_button", t('.card_payment_option'), :class => "radiobutton")