<div id="how_it_works_detail">
<table>
  <thead>
  <td>How to buy</td>
  <td>How to Sell</td>
  </thead>
  <tbody>
  <tr>
    <td>
    <ol>
      <li> Find a task you like and order it</li>
      <li> Pay amount by Mpesa</li>
      <li> Track your seller's work progress, exchange files and communicate</li>
      <li> Get your finished work!</li>
      <li> You will have 48 hrs after work delivery to ask for fixes from the seller</li>
      <li> Provide feedback and review.</li>
    </ol>
    </td>
    <td>
    <ol>
      <li> Create a task for a small service you are willing to offer</li>
      <li> Share your task with the world</li>
      <li> You will be notified when your task is ordered, and be asked to accept it</li>
      <li> We will credit your wallet balance with amount deducted from commission amount, 48 hrs after you successfully
        deliver your work
      </li>
      <li> Withdraw your earnings to your mpesa (according to the terms of service)</li>
      <li> Go Party!</li>
    </ol>
    </td>
  </tr>
  </tbody>
</table>
<p>
  Please read our <a href="#">terms of service</a>
</p>
    </div>