.date_picker
  %table
    %tr
      %td
        =label_tag :from
      %td
        = datepicker_input "user","date_from"
      %td
        =label_tag :to
      %td
        = datepicker_input "user","date_to"