%h3 What is IdealTasks?

%p 
  IdealTasks makes it easier to sell, buy and lend stuff, do favors, organize car pooling and in general to exchange day-to-day resources within a local community. IdealTasks users can offer each other items, favors, rides and housing and also request all these from other users.

%p  
  IdealTasks aims to create a local service directory to buy services. Thus, use of the service saves both your time and money, and saves the planet at the same time. It is also a great way to meet new people in your neighborhood.

%h3 Who is IdealTasks for?

%p
  IdealTasks is a community-based service for everyone!

%p
  Would you like to use IdealTasks? Read more at
  = link_to "http://www.IdealTasks.com", "http://www.IdealTasks.com"
  and leave us your email address using the form on the site, if you want more information about the service.
