%h3 What is SAS727?

%p 
  SAS727 makes it easier to sell, buy and lend stuff, do favors, organize car pooling and in general to exchange day-to-day resources within a local community. SAS727 users can offer each other items, favors, rides and housing and also request all these from other users.

%p  
  SAS727 aims to create a local service directory to buy services. Thus, use of the service saves both your time and money, and saves the planet at the same time. It is also a great way to meet new people in your neighborhood.

%h3 Who is SAS727 for?

%p
  SAS727 is a community-based service for schools, cities, companies and associations. You are currently browsing the SAS727 community of #{@current_community.name.capitalize}.

%p
  Would you like to use SAS727 with the people in your school, city, company or association? Read more at
  = link_to "http://www.SAS727.co.ke", "http://SAS727.movert.co.ke"
  and leave us your email address using the form on the site, if you want more information about the service.
