%h3 How does it work:
%h3 How to sell a task
%ol
  %li Create a task for a small service you are willing to offer
  %li Share your task with the world
  %li You will be notified when your task is ordered, and be asked to accept it
  %li We will credit your wallet balance with amount deducted from commission amount, 48 hrs after you successfully deliver your work
  %li Withdraw your earnings to your mpesa (according to the terms of service)
  %li    Go Party!
%h3  How To Buy a task
%ol
  %li Find a task you like and order it
  %li Pay amount by Mpesa
  %li Track your seller's work progress, exchange files and communicate
  %li Get your finished work!
  %li You will have 48 hrs after work delivery to ask for fixes from the seller
  %li Provide feedback and review.

%p
  Please read our Terms of Service

%p
  IdealTasks aims to bring together people who need something and who can offer something. They can then freely discuss on the methods of exchange. This means that you sell and help others for a small fortune.

%h3 Ask others what you need

%p
  Whether you need an item, a favor, a ride or an apartment, they can all be found using IdealTasks's useful
  = link_to("search", search_path)