!!! 5
!!! xml
%html{html_attrs(I18n.locale)}
  %head
    %title 
      = t(".admin")

    = stylesheet_link_tag 'compiled/style.css'
    -#= javascript_include_tag 'jquery','jquery.ui.core','jquery.ui.datepicker','jquery-ui-1.8.18.custom.min','jquery-ui-personalized-1.5.2.packed'
  %body
    .js_enabled
      .container_24
        .grid_21
          #logo
            #logo_image

        .grid_3
          .admin_top_navi_link
            = link_to t(".back_to_kassi"), root
        .clear
        .grid_24
          #admin_content
            = yield